
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

    .one p{
        font-size: 1.1rem;
    }
    .one{
        display: flex;
        display: grid;
        grid-template-columns: 50% auto;
        align-items: center;
    }
    h4{
        font-size: 2rem;
        text-align: center;
    }
    h4:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .one .right{
        margin:0 5%;
        text-align: left;
        margin-left: 5%;
    }
    .one h2{
        font-size: 2.5rem;
        color: burlywood;
        letter-spacing: 0cap;
    }
    .one p{
        padding: 3% 0;
    }
    @keyframes myanimation{
        0%{transform: translateX(-100%);}
        100%{transform: translateX(0);}
    }
    .Bachelor{
        animation: myanimation 1s ease-in-out;
    }
    .Education .Bachelor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @keyframes animation{
        0%{transform: translateX(100%);}
        100%{transform: translateX(0);}
    }
    .Inter{
        animation: animation 1s ease-in-out;
    }
    .Education .Inter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Education ol{
        list-style: none;
        border: 3px solid burlywood;
        width: 80%;
        margin: 5% 10%;
        padding: 2%;
        border-radius: 7px;
    }
    .Education{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
    .skills img{
        width: 100%;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid white;
    }
    .skills{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 2% 0;
    }
    @keyframes myskillanimation{
        0%{transform: translateX(-100%);}
        100%{transform: translateX(0);}
    }
   .myskills{
    animation: myskillanimation 1s ease-in-out;
   }
    .myskills{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 5% 0;
    }
    .skills ol li{
        list-style: none;margin: 1rem;
    }
    .skills ol li:hover{
        color: aqua;
    }
    @keyframes bottomanimation{
        0%{transform: translateX(100%);}
        100%{transform: translateX(0);}
    }
    .bottom{
        animation: bottomanimation 2s ease-in-out;
    }
    .bottom{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        animation: animation 1s ease-in-out;
    }    


@media screen and (max-width:650px) {
    .left .Raju{
        display: none;
    }
    .one{
        display: flex;
    }
    .Education{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .myskills{
       display: flex;
       display: grid;
       grid-template-columns: repeat(3,1fr);  
       margin: 0;
       font-size: 0.8rem;
    }
    .bottom{
        width: 100%;
        display: flex;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 0.8rem;
    }
    .skills img{
        height: 2rem;
        width: 2rem;
    }
    .one h2{
        font-size: 1.9rem;
        color: burlywood;
    }
    .one p{
        font-size: 1rem;
    }
}