
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .blurred{
        filter: blur(10px);
    }
    .hiringform img{
        position: relative;
    }
    
    .hiringform form img{
        padding: 0;
        height: 1rem;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        margin: 2%;
       
        
    }
    main{
        height: 100%;
        position: relative;
        background:transparent;
       
        
    }
    .load h2{
        font-size: 1.7rem;
    }
    .load p{
        font-size: 1.2rem;
    }
    i{
        font-size: 1.7rem;
        font-weight:500;
        color: burlywood;
    }
    .load{
        display: flex;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 50% 50%;
        margin:8% 5%;
        padding: 5% 0;

    }
    .Raju{
        height: 50vh;
        width: 40%;
        border: 5px solid burlywood;
        border-radius: 10%;
    }
    span{
        font-size: 2.5rem;
        color: burlywood;
        margin-bottom: 30%;
    }
    .load .left{
        text-align: left;
    }
    main form{
        position: absolute;
        position: fixed;
        z-index: 1001;
        top: 15%;
        left:35% ;
        width: 30%;
        box-shadow: 5px 5px 5px 3px rgb(198, 186, 186);
    }
    .hiringform{
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media screen and (max-width:1025px){
    .Raju{
        height: 45vh;
        width: 50%;
        margin-left: 20%;
        border: 5px solid burlywood;
        border-radius: 10%;
    }
    .load{
        display: flex;
        justify-content: center;
        align-items: center;  
        display:grid;
        grid-template-columns: 50% 50%;
        margin-top: 10%;
    }
    main form{
        width: 40%;
        left: 30%;
    }
}
@media screen and (max-width:650px){
    .Raju{
        height: 25vh;
        width: 100%;
        margin-left: 20%;
        border: 5px solid burlywood;
        border-radius: 10%;
        margin-top: 35%;
    }
    .load{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    main form{
        width: 50%;
        left: 10%;
        top: 10%;
    }
    span{
        font-size: 1.5rem;
        color: burlywood;
        margin-bottom: 30%;
    }
    .load h2{
        font-size: 1.3rem;
    }
    .load p{
        font-size: 1rem;
    }
}


