*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .Rajuimage{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin-right: 2px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid yellow;
        height: 4rem;
        padding: 0 2%;
        background-color: burlywood;
        position: fixed;
        z-index: 1002;
        top: 0;
        width: 100%;
    }
    .navbar ol{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    .navbar .right{
        width: 5%;
    }
    .navbar .center{
        width: 40%;
        margin-left: 15%;
        
    }
    .navbar .left{
        width: 15%;
    }
    .center ol li{
        list-style: none;
    }
    .center a{
        text-decoration: none;
        font-weight: bold;
        color: black;
        position: relative;
    }

    .center a::after{
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background-color: black;
        transition: width 0.8s;
    }
    .center a:visited{
        color: black;
    }
    .center a:hover::after{
        width: 100%;
    }
@media screen and (max-width:850px) {
    .navbar .center{
        width: 50%;
        margin-left: 15%;
        
    }
    
}
@media screen and (max-width:550px){
    .navbar .left{
        display: none;
    }
    .navbar .center{
        width: 70%;
        margin-left: 15%;
        font-size: 0.8rem;
    }
    
}

